{% extends "layout.html" %} {% block title %}Edit | Tech Haven - Your Gadget
Paradise{% endblock %} {% block main%}
<div class="container col-md-4 p-5 text-center">
  <h2 class="p-4">Edit item</h2>
  <form
    action="{{ url_for('edit_item', item_type=item_type, item_id=item.id) }}"
    method="post"
  >
    <div class="row my-4">
      <div class="col-12 col-md-6 d-flex justify-content-center">
        <div class="form-check d-flex align-items-center">
          <input
            class="form-check-input mt-0 me-2"
            type="radio"
            id="featured-product-radio"
            name="product-type"
            value="Featured Product"
            aria-label="Radio button for following text input"
            checked
          />
          <label class="form-check-label" for="featured-product-radio"
            >Featured Product</label
          >
        </div>
      </div>
      <div class="col-12 col-md-6 d-flex justify-content-center">
        <div class="form-check d-flex align-items-center">
          <input
            class="form-check-input mt-0 me-2"
            type="radio"
            id="popular-product-radio"
            name="product-type"
            value="Popular Product"
            aria-label="Radio button for following text input"
          />
          <label class="form-check-label" for="popular-product-radio"
            >Popular Product</label
          >
        </div>
      </div>
    </div>

    <div class="mb-3">
      <input
        type="text"
        class="form-control"
        name="item-name"
        id="item-name"
        placeholder="{{ item.name }}"
        aria-describedby="Input for product name"
        required
      />
      <label for="item-name" class="form-label">Item Name</label>
    </div>
    <div class="mb-3">
      <input
        type="text"
        class="form-control"
        name="item-image"
        id="image-link"
        placeholder="{{ item.img_url }}"
        aria-describedby="Input for product image"
        required
      />
      <label for="image-link" class="form-label">Item Image</label>
    </div>
    <div class="mb-3">
      <input
        type="number"
        min="0"
        class="form-control"
        name="item-price"
        id="input-price"
        placeholder="{{ item.price }}"
        aria-describedby="Input for product price"
        required
      />
      <label for="input-price" class="form-label">Item Price</label>
    </div>
    <div class="mb-3">
      <textarea
        name="item-description"
        class="form-control"
        id="input-description"
        rows="3"
        placeholder="{{ item.description }}"
        aria-describedby="Input for product description"
      ></textarea>
      <label for="input-description" class="form-label">Item Description</label>
    </div>
    <button type="submit" class="btn btn-primary">Update Item</button>
  </form>

  {% with messages = get_flashed_messages(with_categories=true) %} {% for
  category, message in messages %}
  <div class="my-5 pb-5 {{ category }}">{{ message }}</div>
  {% endfor %} {% endwith %}
</div>
{% endblock %}
