{% extends "layout.html" %}

{% block title %}Exo | Exotic Book store{% endblock %}

{% block main %}
  <div class="row row-cols-1 row-cols-md-3 g-4 m-5">
    <div class="col">
      <div class="card text-bg-dark">
        <img src="{{ url_for('static', filename='images/adventure.jpg') }}" class="card-img" alt="...">
        <div class="card-img-overlay text-center top-50">
          <h5 class="card-title fs-1 fw-normal opacity-75">Adventure</h5>
          <a href="" class="stretched-link"></a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card text-bg-dark">
        <img src="{{ url_for('static', filename='images/children.jpg') }}" class="card-img" alt="...">
        <div class="card-img-overlay text-center top-50">
          <h5 class="card-title fs-1 fw-normal opacity-75">children</h5>
          <a href="" class="stretched-link"></a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card text-bg-dark">
        <img src="{{ url_for('static', filename='images/drama.jpg') }}" class="card-img" alt="...">
        <div class="card-img-overlay text-center top-50">
          <h5 class="card-title fs-1 fw-normal opacity-75">Drama</h5>
          <a href="" class="stretched-link"></a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card text-bg-dark">
        <img src="{{ url_for('static', filename='images/fantasy.jpg') }}" class="card-img" alt="...">
        <div class="card-img-overlay text-center top-50">
          <h5 class="card-title fs-1 fw-normal opacity-75 ">Fantasy</h5>
          <a href="" class="stretched-link"></a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card text-bg-dark">
        <img src="{{ url_for('static', filename='images/horror.jpg') }}" class="card-img" alt="...">
        <div class="card-img-overlay text-center top-50">
          <h5 class="card-title fs-1 fw-normal opacity-75">Horror</h5>
          <a href="" class="stretched-link"></a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card text-bg-dark">
        <img src="{{ url_for('static', filename='images/humor.jpg') }}" class="card-img" alt="...">
        <div class="card-img-overlay text-center top-50">
          <h5 class="card-title fs-1 fw-normal opacity-75">Humor</h5>
          <a href="" class="stretched-link"></a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card text-bg-dark">
        <img src="{{ url_for('static', filename='images/mystery.jpg') }}" class="card-img" alt="...">
        <div class="card-img-overlay text-center top-50">
          <h5 class="card-title fs-1 fw-normal opacity-75">Mystery</h5>
          <a href="" class="stretched-link"></a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card text-bg-dark">
        <img src="{{ url_for('static', filename='images/non-fiction.jpg') }}" class="card-img" alt="...">
        <div class="card-img-overlay text-center top-50">
          <h5 class="card-title fs-1 fw-normal opacity-75">Non-fiction</h5>
          <a href="" class="stretched-link"></a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card text-bg-dark">
        <img src="{{ url_for('static', filename='images/romance.jpg') }}" class="card-img" alt="...">
        <div class="card-img-overlay text-center top-50">
          <h5 class="card-title fs-1 fw-normal opacity-75">Romance</h5>
          <a href="" class="stretched-link"></a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card text-bg-dark">
        <img src="{{ url_for('static', filename='images/sci-fi.jpg') }}" class="card-img" alt="...">
        <div class="card-img-overlay text-center top-50">
          <h5 class="card-title fs-1 fw-normal opacity-75">Sci-Fi</h5>
          <a href="" class="stretched-link"></a>
        </div>
      </div>
    </div>
  </div>
{% endblock %}