{% extends "layout.html" %}

{% block title %}Exo | Exotic Book store{% endblock %}

{% block main %}
    <div id="carouselExampleSlidesOnly" class="carousel slide p-5" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active" data-bs-interval="3000">
          <img src="{{ url_for('static', filename='images/pexels-karolina-grabowska-4887152.jpg') }}" class="d-block w-100" alt="...">
          <div class="carousel-caption d-none d-md-block">
            <h5>First slide label</h5>
            <p>Some representative placeholder content for the first slide.</p>
          </div>
        </div>
        <div class="carousel-item" data-bs-interval="3000">
          <img src="{{ url_for('static', filename='images/pexels-ahsanjaya-8365831.jpg') }}" class="d-block w-100" alt="...">
          <div class="carousel-caption d-none d-md-block">
            <h5>Second slide label</h5>
            <p>Some representative placeholder content for the second slide.</p>
          </div>
        </div>
        <div class="carousel-item" data-bs-interval="3000">
          <img src="{{ url_for('static', filename='images/pexels-karolina-grabowska-4887154.jpg') }}" class="d-block w-100" alt="...">
          <div class="carousel-caption d-none d-md-block">
            <h5>Third slide label</h5>
            <p>Some representative placeholder content for the third slide.</p>
          </div>
        </div>
      </div>
    </div>
{% endblock %}